/* About page */
.pageContainer {
  width: 60%;
  margin-left: auto;

  display: grid;
  gap: 48px;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;

    height: 100vh;
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .pageContainer {
    width: 100%;
    margin: 0;

    .background {
      height: 25%;
      width: 100vw;
  
      background: linear-gradient(to bottom, rgba(255,255,255,0) 10%, var(--color-lighter)) no-repeat;
      background-size: cover;
    }
  }
}