.general {
  font-family: 'Noto Sans', sans-serif;
  color: var(--color-dark);
}

/* font size*/
.l {
  font-size: 1.5rem;
}
.m {
  font-size: 1.25rem;
}
.s {
  font-size: 0.875rem;
}
.xs {
  font-size: 0.75rem;
}

/* font color */
.dark {
  color: var(--color-dark);
}
.lighter {
  color: var(--color-lighter);
}
.yellow {
  color: var(--color-yellow);
}

/* font weight */
.bold {
  font-weight: bold;
}
.regular {
  font-weight: 400;
}

/* align text */
.center {
  text-align: center;
}
.start {
  text-align: start;
}

/* image */
.img {
  .contentImg {
    width: 100%;
  }
}