.container {
  background-color: var(--color-green);
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;

  .logo {
    font-family: 'Black Han Sans', sans-serif;

    width: 410px;
    display: grid;
    grid-template-columns: 26px auto;
    gap: 6px;

    margin-left: 36px;

    .icon {
      height: 24px;
      width: 24px;
    }
    .title {
      color: var(--color-yellow);
      font-size: 24px;
      line-height: 24px;
    }
    .subtitle {
      color: var(--color-lighter);
      font-size: 12px;
      line-height: 12px;

      grid-column: 1/3;
    }
  }
  .logo:hover {
    cursor: pointer;
  }

  .btns {
    display: flex;
  }
}

