.container {
  width: 100vw;
  height: 84px;
  padding: 12px 42px;
  background-color: var(--color-green);

  position: fixed;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-columns: min-content auto;
  gap: 12px;

  z-index: 100;

  .title {
    width: fit-content;
    padding: 12px;
    border-right: 1px solid var(--color-yellow);
  }

  .content {
    display: grid;
    align-items: center;
    justify-content: start;

    .singleInfo {
      display: flex;
      gap: 12px;
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    display: none;
  }
}